<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">

  <!-- favicon for the app  -->
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA3nMAAJFLAAD/ypEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiIiIiIiIiAxEREREREREjEAAAAAAAASMQAAAAAAABIxAAAAAAAAEjEAAAAAAAASMQAAASAAABIxAAAREgAAEjEAARERIAASMQAREAMSABIxAxEAADEgAjEAMAAAAxIAMQAAAAAAMSAxAAAAAAADEjEREREREQAxAzMzMzMzMAOAAQAAAAAAAD/8AAA//AAAP/wAAD/8AAA+fAAAPDwAADgcAAAxjAAAI8YAADfjAAA/8QAAP/gAAAAMAACABgAA" rel="icon" type="image/x-icon" />

</head>

<body>
